li.dropright.drop-hover class="parent-#{parent_category.id}"
  = link_to parent_category.name, select_category_index_gunpla_path(parent_category.id), id: "#{parent_category.id}", class: "parent_category dropdown-item dropdown-toggle"
