= search_form_for(search, url: search_gunplas_path) do |f|
  = f.label :name_cont, "レビューしたいガンプラを探そう！"
  dl.search
    dt.search_field
      = f.search_field :name_cont, class: "form-control"
    dd.search_btn
      = f.submit "検索", class: "btn btn-info"

javascript:
  $(function() {
    const dataList = function(request, response) {
      $.ajax({
        type: "GET",
        url: "/gunplas/autocomplete/",
        dataType: "json",
        cache: true,
        data: { name: request.term },
        success: function(data) {
          response(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          response([""]);
        }
      });
    }
    $("#q_name_cont").autocomplete({
      source: dataList,
      autoFocus: true,
      delay: 300,
      minLength: 2
    })
  })
