- provide(:title, sub_title="ガンプラ編集")
- breadcrumb :gunpla, @gunpla

.row.mx-auto
  = render "form",
    sub_title: sub_title,
    url: update_gunpla_path(@gunpla),
    gunpla: @gunpla,
    category_parents: @category_parents,
    category_children: @category_children,
    category_grandchildren: @category_grandchildren,
    category_parent: @category_parent.id,
    category_child: @category_child.id,
    category_grandchild: @category_grandchild.id,
    btn: "更新"

  = render "sidebar"
