@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "trix/dist/trix";

@import "users/custom-variables";
@import "users/button";
@import "users/option";
@import "users/actiontext";

@import "users/gunpla";
@import "users/review";

// 共通
body {
  background-color: $light-gray;
}

a {
  color: inherit;
  &:hover,
  &:focus {
    opacity: 0.7;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

footer {
  margin-top: auto;
  background-color: $dark;
  width: 100%;
}
