@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
a {
  &:hover,
  &:focus {
    opacity: 0.7;
    text-decoration: none;
  }
}
.btn-sns {
  margin: 14px 0;
  display: block;
}
.w-250px {
  width: 250px !important;
}
.w-200px {
  width: 200px !important;
}
.w-100px {
  width: 100px !important;
}

.btn {
  color: #fff;
  transition: 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
    color: #fff;
  }
}
.btn-fb {
  background-color: #4267b2;
}
.btn-tw {
  background-color: #2ca7e0;
}

.btn-gg {
  background-color: #28a745;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  input {
    background-color: #fcc;
    @extend .is-invalid;
  }
}
