@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "users/custom-variables";
@import "users/social";
@import "users/option";

@import "users/mypage";

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
// universal

body {
  background-color: $light-gray;
}

a {
  color: inherit;
  &:hover,
  &:focus {
    opacity: 0.7;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jumbotron {
  background-color: $white;
}

img {
  max-width: 100%;
}

footer {
  margin-top: auto;
  background-color: $dark;
  width: 100%;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    background-color: #fcc;
    @extend .is-invalid;
  }
}

.form-require {
  &::after {
    content: "必須";
    font-size: 0.9rem;
    color: $white;
    background-color: $red;
    border-radius: 3px;
    padding: 3px;
    margin-left: 4px;
  }
}
// .pagenaation {
// }

// #page-top {
// }
