h1 トップページ
h2 Gmap

input#address type="textbox" value="GeekSalon"
input type="button" value="Encode" onclick="codeAddress()"

#display

#map

javascript:
  function initMap(){
    var myMap = new google.maps.Map(document.getElementById("map"), {
      center: new google.maps.LatLng(35.6803997, 139.7690174),
      scaleControl: true,
      zoom: 15,
    });

    var myMarker = new google.maps.Marker({
      position: new google.maps.LatLng(35.6803997, 139.7690174),
      map: myMap
    });
    var myInfoWindow = new google.maps.InfoWindow({
      content: "新宿駅で～す</br>あいうえお"
    });

    google.maps.event.addListenerOnce(myMarker, "click", function() {
      myInfoWindow.open(myMap, myMarker);
    });

    google.maps.event.addListener(myInfoWindow, "closeclick", function() {
      google.maps.event.addListenerOnce(myMarker, "click", function(event) {
        myInfoWindow.open(myMap, myMarker);
      });
    });
  }

script src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.googlemap[:api_key]}&callback=initMap" async defer
