// サイズ
.w-420px {
  width: 420px !important;
}
.w-350px {
  width: 350px !important;
}
.w-250px {
  width: 250px !important;
}
.w-200px {
  width: 200px !important;
}
.w-150px {
  width: 150px !important;
}
.w-100px {
  width: 100px !important;
}

// アクション
.btn {
  transition: 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

// SNS系
.btn-sns {
  color: $white;
  margin: 14px 0;
  display: block;
  &:hover,
  &:focus {
    color: $white;
  }
}
.btn-fb {
  background-color: $facebook;
}
.btn-tw {
  background-color: $twitter;
}
.btn-gg {
  background-color: $google;
}
.btn-ln {
  background-color: $line;
}
