// 検索
.search {
  position: relative;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 20px;
  .search_field {
    padding: 3px 60px 3px 10px;
    input {
      width: 89%;
      height: 30px;
      line-height: 30px;
      background: none;
      border: none;
      outline: none;
    }
  }
  .search_btn {
    height: 34.5px;
    position: absolute;
    top: 0.1%;
    right: -0.5%;
    width: 20%;
    input {
      display: block;
      width: 100%;
      border-radius: 20px;
      color: $white;
      outline: none;
      &:hover,
      &:focus {
        opacity: 1;
        color: $info;
        border-color: $info;
        background-color: $white;
      }
    }
  }
}

// オートコンプリート
.ui-widget.ui-widget-content {
  border: 1px solid $light-gray;
}
.ui-menu-item {
  color: $text !important;
  background-color: $white !important;
}

// カテゴリーリスト
.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

// サムネリスト
#mainImage li:not(:nth-child(1)) {
  display: none;
}
