.w-250px {
  width: 250px !important;
}
.w-200px {
  width: 200px !important;
}
.w-150px {
  width: 150px !important;
}
.w-100px {
  width: 100px !important;
}

.heading {
  &::before {
    content: "";
    border-left: 5px solid #135b8e;
    margin-right: 10px;
  }
}

.bg-color-gray {
  padding: 5px 10px;
  background-color: $light-gray;
  border-radius: 8px;
  font-weight: bold;
}
