// 見出し
.headingLv {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}
.heading {
  &::before {
    content: "";
    border-left: 5px solid #135b8e;
    margin-right: 10px;
  }
}

// レイアウト
.bg-color-gray {
  padding: 5px 10px;
  background-color: $light-gray;
  border-radius: 8px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.jumbotron {
  background-color: $white;
}

// エラーメッセージ
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  input {
    background-color: #fcc;
    @extend .is-invalid;
  }
}

// 必須タグ
.form-require {
  &::after {
    content: "必須";
    font-size: 0.9rem;
    color: $white;
    background-color: $red;
    border-radius: 3px;
    padding: 3px;
    margin-left: 4px;
  }
}

// ページスクロール
#page_top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  a {
    display: block;
    z-index: 999;
    padding-top: 12px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-color: $mint;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
    i {
      padding-top: 12px;
    }
  }
}

// お知らせ
.n-circle {
  position: absolute;
  font-size: 1.2rem;
  top: 0.4rem;
  left: -1rem;
  padding-left: 1rem;
  padding-top: 0rem;
  color: $orange;
}

// Googlemap
#map {
  height: 600px;
  width: 600px;
}

// Actiontext
trix-editor {
  min-height: 20em;
  max-height: 20em;
  overflow-y: auto;
}

// アバター
.user_avatar {
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}
.photo-icon {
  border-radius: 50%;
}
.prev-image {
  border-radius: 50%;
}
