.btn {
  transition: 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.btn-sns {
  color: $white;
  margin: 14px 0;
  display: block;
  &:hover,
  &:focus {
    color: $white;
  }
}

.btn-fb {
  background-color: $facebook;
}

.btn-tw {
  background-color: $twitter;
}

.btn-gg {
  background-color: $google;
}

.btn-ln {
  background-color: $line;
}
