meta[charset="utf-8"]
meta[http-equiv="X-UA-Compatible" content="IE=edge"]
meta[name="viewport" content="width=device-width, initial-scale=1"]
= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css"
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"

= stylesheet_link_tag "https://unpkg.com/swiper/swiper-bundle.min.css"
= javascript_include_tag "https://unpkg.com/swiper/swiper-bundle.min.js"

= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

= analytics_init if Rails.env.production?
